@{
    ViewBag.Title = "About";
}


<div class="bn-inner" style="margin-top:56px;">
    <div class="wrapper">
        <img src="~/Content/pic/dogPic/dog1.png" alt="Our Story">
    </div>
</div>

<h2 class="title-page">About Groomi</h2>
<div class="document">
    <p>Groomi was established in 2011 by a group of friends. It is a Singapore-based company that provides transport to your doorsteps for your dog’s need such as pet food, accessories, and when your dog needs such as dog food, accessories, and when your dog needs personal care services. Services are such as dog transport, grooming, emergencies and others. 
    </p>
</div>
<h4 class="title-page">Aims and Goals of Groomi</h4>
    <div class="document">
        <p>Groomi aims to give every dog lovers an easy and convenient way of solving all problems for their dog. Groomi will maintain the highest quality and friendliest services for all dog lovers. Groomi will make all dog lovers keeping dog an enjoyable experience!</p>
        <p>&nbsp;</p>
    </div>