@{
    ViewBag.Title = "Contact";
}
    <div class="bn-inner" style="margin-top:56px;">
        <div class="wrapper">
            <h2>Contact Us</h2>
            <img src="~/Content/pic/dogPic/dog2.png" alt="Our Story">
            <div class="bn-content">
                <h4>Give your pets the professional look</h4>
                &nbsp;
            </div>
        </div>
    </div>

    <address>
        Temasek Polytechnic<br />
        21 Tampines Avenue 1, 529757<br />
        Contact number: 91234567<br />

    </address>

    <address>
        <strong>Facebook:</strong>   <a href="www.facebook.com/groomi">Facebook.com/groomi</a><br />
        <strong>Twitter:</strong> <a href="www.twitter.com/groomi">Twitter.com/groomi</a>
    </address>