@{
    ViewBag.Title = "About";
}


<div class="bn-inner" style="margin-top:56px;">
    <div class="wrapper">
        <img src="~/Content/pic/dogPic/dog5.png" alt="Our Story">
    </div>
    &nbsp;
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="width: 150px;">Breed Sizes</th>
                <th style="width: 150px;">Basic Grooming</th>
                <th style="width: 150px;">Full Grooming</th>
                <th style="width: 150px;">Bath Only</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Small</td>
                <td>$30.00 - $40.00</td>
                <td>$65.00 - $75.00</td>
                <td>$10.00 - $20.00</td>
            </tr>
            <tr>
                <td>Medium</td>
                <td>$40.00 - $50.00</td>
                <td>$75.00 - $85.00</td>
                <td>$20.00 - $30.00</td>
            </tr>
            <tr>
                <td>Large</td>
                <td>$50.00 - $60.00</td>
                <td>$85.00 - $95.00</td>
                <td>$30.00 - $40.00</td>
            </tr>
     
        </tbody>
    </table>
</div>